In [10]:
import pandas as pd

# Load the CSV files
file1_path = '지역화폐발행및이용현황.csv'  ## 이게 2023꺼 밖에 없어.. 찾아봐도 concat하는게 의미가 없는 이유  -> 2번데이터는 2023년 전체의 시군별 데이터이고  1번데이터는  2023년 월별데이터이므로, 다른 컬럼과 혼합해서 결과를 낼수없을 뿐더러, 컨캣시 의미없이 데이터가 나열된다.

file2_path = '지역화폐연령별성별이용현황.csv'

df1 = pd.read_csv(file1_path, encoding='euc-kr')
df2 = pd.read_csv(file2_path, encoding='euc-kr')

# Filter the data for the years 2021 to 2023
df1_filtered = df1[df1['기준년월'].str[:4].astype(int).between(2021, 2023)]
df2_filtered = df2[df2['기준연도']==2023]

# Merge the dataframes
merged_df = pd.merge(df1_filtered, df2_filtered, how='outer', left_on=['시군명'], right_on=['시군명'])

# Display the merged dataframe
merged_df.tail()
# 근데 2023데이터 밖에 없는데?

,시군명,기준년월,월별신규가입자수(명),월별충전액(백만원),월별사용액(백만원),기준연도,연령대,성별,결제건수,결제금액,결제취소건수,결제취소금액,1회평균결제금액
6283,화성시,2023-01,7038.0,29534,35112,2023,70,남,98710,2264292899,846.0,36746403.0,22939.0
6284,화성시,2023-01,7038.0,29534,35112,2023,70,여,96663,2463780199,957.0,33938353.0,25488.0
6285,화성시,2023-01,7038.0,29534,35112,2023,80,남,16051,345320477,119.0,4847116.0,21514.0
6286,화성시,2023-01,7038.0,29534,35112,2023,80,여,13738,358980560,118.0,4345786.0,26130.0
6287,화성시,2023-01,7038.0,29534,35112,2023,기타,-,198560,6983256207,1595.0,83885804.0,35170.0

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   시군명          372 non-null    object
 1   기준년월         372 non-null    object
 2   월별신규가입자수(명)  370 non-null    float64
 3   월별충전액(백만원)   372 non-null    int64
 4   월별사용액(백만원)   372 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 14.7+ KB

In [8]:
df1.head(20)

    시군명     기준년월  월별신규가입자수(명)  월별충전액(백만원)  월별사용액(백만원)
0   가평군  2023-12        484.0        4051        2140
1   가평군  2023-11        458.0        2368        2187
2   가평군  2023-10        555.0        2596        2335
3   가평군  2023-09        782.0        3113        2376
4   가평군  2023-08        473.0        3631        2392
5   가평군  2023-07        580.0        2682        2536
6   가평군  2023-06        883.0        4197        4043
7   가평군  2023-05        871.0        5064        3785
8   가평군  2023-04        855.0        3668        4057
9   가평군  2023-03       3130.0        4284        3609
10  가평군  2023-02        769.0        3032        3092
11  가평군  2023-01        717.0        3140        3540
12  고양시  2023-12       3103.0       15768       12994
13  고양시  2023-11       3247.0       14389       12450
14  고양시  2023-10       4554.0       13499       11696
15  고양시  2023-09       4207.0       10500       11022
16  고양시  2023-08       3527.0       11057       11989
17  고양시  2023-07       3811.0       14686       11992
18  고양시  2023-06       2809.0       10175       11714
19  고양시  2023-05       3722.0       11006       12514

In [7]:
df1['기준년월'].sort_values(ascending=True,inplace=True)

ValueError: This Series is a view of some other array, to sort in-place you must create a copy